<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaching"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    
    <supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens= "true"
		android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.moneyapp.App">
        <activity
            android:name="com.moneyapp.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moneyapp.AccountAddActivity" 
            android:windowSoftInputMode="stateHidden"
        	android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:excludeFromRecents="true">
        </activity>
        <activity            
            android:label="Edit Account"
            android:name="com.moneyapp.AccountEditActivity" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
	    android:screenOrientation="portrait"
            android:excludeFromRecents="true">
        </activity>
        <activity            
            android:label="Add Category"
            android:name="com.moneyapp.CategoryAddActivity" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:excludeFromRecents="true">
        </activity>
        <activity            
            android:label="Edit Category"
            android:name="com.moneyapp.CategoryEditActivity" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:excludeFromRecents="true">
        </activity>       
        <activity            
            android:label="Subcategories"
            android:name="com.moneyapp.SubCatActivity" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:excludeFromRecents="true">
        </activity>   
        <activity            
            android:label="Subcategory add"
            android:name="com.moneyapp.SubCatAddActivity" 
            android:theme="@android:style/Theme.Dialog"
            android:excludeFromRecents="true">
        </activity>         
        <activity            
            android:label="Subcategory edit"
            android:name="com.moneyapp.SubCatEditActivity" 
            android:theme="@android:style/Theme.Dialog"
            android:excludeFromRecents="true">
        </activity>        
        <activity            
            android:label="Transaction add"
            android:name="com.moneyapp.TransactionAddActivity" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:excludeFromRecents="true">
        </activity>     
        <activity            
            android:label="Transaction edit"
            android:name="com.moneyapp.TransactionEditActivity" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:excludeFromRecents="true">
        </activity>          
        <activity            
            android:label="Choose an account"
            android:name="com.moneyapp.AccountChooseActivity" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:excludeFromRecents="true">
        </activity>         
        <activity            
            android:label="Choose a category"
            android:name="com.moneyapp.CategoryChooseActivity" 
            android:excludeFromRecents="true">
        </activity>    
        <activity            
            android:label="Choose a category"
            android:name="com.moneyapp.CategoryChooseSubcatAddActivity" 
            android:excludeFromRecents="true">
        </activity>        
        <activity            
            android:label="Choose filters"
            android:name="com.moneyapp.TransactionsFilter" 
            android:excludeFromRecents="true">
        </activity>  
        <activity            
            android:label="Enter amount"
            android:name="com.moneyapp.FilterAmountActivity" 
            android:theme="@android:style/Theme.Dialog"            
            android:excludeFromRecents="true">
        </activity>          
    </application>
</manifest>